<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		
		<add name="ConexionVendedor"
             connectionString="Data Source=.;Initial Catalog=Farmacia1;User Id=usr_vendedor;Password=vend123;TrustServerCertificate=True"
             providerName="Microsoft.Data.SqlClient" />

		<add name="ConexionGerente"
             connectionString="Data Source=.;Initial Catalog=Farmacia1;User Id=usr_gerente;Password=geren123;TrustServerCertificate=True"
             providerName="Microsoft.Data.SqlClient" />

		<add name="ConexionDBA"
             connectionString="Data Source=.;Initial Catalog=Farmacia1;User Id=usr_dba;Password=dba123;TrustServerCertificate=True"
             providerName="Microsoft.Data.SqlClient" />

	</connectionStrings>


	<appSettings>
		<add key="MongoConexion" value="mongodb://10.28.155.151:27017"/>
	</appSettings>


</configuration>